<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web Technology 2021</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="../styles/print.css">
        <link rel="stylesheet" type="text/css" href="../styles/index.css">
        <script src="../js/index.js"></script>
    </head>

    <body>
        <%- include('partials/header') %>

        <main class="main-content-home">
            <div class="content-wrapper-home">
                <hr>
                <% for(let i = 0; i < questions.length; i++) { %>
                    <%- include('partials/question-card', {
                        data: questions[i]
                    }) %> 
                <% } %>

                <div class="pagination justify-content-center">
                    <span class="content-page__num">
                        <% if (q && pagesNum === 0) { %>
                            <p class="content-page__no-results">No results found for<span class="content-page__no-query"><%= q %> </span>!</p>
                        <% } else if (pagesNum > 1) {%>

                            <% if (previous) { %>
                                <a class="btn btn-primary" href="?page=<%= previous.page %>&limit=<%= previous.limit %><%= q ? `&q=${q}` : '' %>">
                                    Previous
                                </a>
                            <% } else { %>
                                <a class="btn btn-primary disabled" href="#">Previous</a>
                            <% } %>

                            Page <input
                                    id="page-num-input"
                                    type="number"
                                    class="content-page__num-input"
                                    value="<%= previous ? previous.page + 1 : next.page - 1%>"
                                    min=1
                                    max=<%= pagesNum %>
                                > / <%= pagesNum %>
                                <% if (next) { %>
                                    <a class="btn btn-primary" href="?page=<%= next.page %>&limit=<%= next.limit %><%= q ? `&q=${q}` : '' %>">
                                        Next
                                    </a>
                                <% } else { %>
                                    <a class="btn btn-primary disabled" href="#">Next</a>
                                <% } %>
                            <% } %>
                    </span>
                </div>
            </div>
        </main>
        
        <%- include('partials/footer') %>
    </body>
</html>