<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> </title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="../styles/question.css">
        <script src="../js/question.js"></script>
    </head>

    <body>
        <%- include('partials/header') %>

        <main class="content">
            <div class="content__main">
                <hr>
                <div class="content__question-container">
                    <div class="content__question-header">
                        <div class="content__question-header-title"><%= question.Title %></div>
                        <div class="content__question-header-asked"><%= question.CreationDate %> </div>
                    </div>
                    <div class="content__question-body">
                        <%- question.Body %> 
                    </div>
                    <div class="content__question-footer">
                        <div class="question-footer_username-container">
                            <div class="question-footer_username-icon">
                                <img src="../icons/user-white.png" alt="avatar">
                            </div>
                            <div class="question-footer_username">
                                <%= username %> 
                            </div>
                        </div>
                        <div class="question-footer__heart">
                            <%= question.Score %> 
                            <img src="../icons/heart-fill.png" alt="heart" >
                        </div>
                    </div>
                </div>
                <form class="content__question-form" onsubmit="onPostAnswer(event)">
                    <textarea class="form-control question-form__textarea"></textarea>
                    <button type="submit" class="btn btn-primary question-form__button">POST ANSWER</button>
                </form>
                <% for (let i = 0; i < answers.length; i++) { %>
                    <div class="content__answer-card">
                        <div class="content__answer-header">
                            <div class="question-footer_username-container">
                                <div class="question-footer_username-icon">
                                    <img src="../icons/user-white.png" alt="avatar">
                                </div>
                                <div class="question-footer_username">
                                    Username
                                </div>
                                <div class="question-footer__time">
                                    <%= answers[i].CreationDate %> 
                                </div>
                            </div>
                        </div>
                        <div class="content__answer-body">
                            <%- answers[i].Body %>
                        </div>
                        <div class="content_answer__footer">
                            <%= answers[i].Score %> 
                            <img src="../icons/heart-fill.png" alt="heart" >
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="content__side">
                <hr>
                <div class="content__related-container">
                    <div class="content__related-title">Related</div>
                    <ul class="content__related-items">
                        <li id="1" class="content__item" onclick="onRelatedItemClick(event)">This question is somehow related to the selected one</li>
                        <li id="2" class="content__item" onclick="onRelatedItemClick(event)">Hardcoded relative</li>
                    </ul>
                </div>
            </div>
        </main>
        
        <%- include('partials/footer') %>
    </body>
</html>